#nian{
	width:131px;
	height:21px;
	float:left;
	margin-top:4px;
}

#tijiao{
	display:block;
	float:left;
	width:50px;
	height:21px;
	background-color:#628264;
	color:white;
	font-size:14px;
	font-family:'Î¢ÈíÑÅºÚ';
	margin-left:5px;
	line-height:21px;
	text-align:center;
	margin-top:4px;
	cursor: pointer;
}
#nspan{
	display:block;
	float:left;
	width:150px;
	height:30px;
	margin-top:4px;
}
.tjcolor{
	width:1130px;
	height:28px;
	background-color:white;
}