.shezhimima{
	width:300px;
	height:195px;
	margin-left:195px;
	margin-top:40px;
}

.mima{
	width:350px;
	height:30px;
	font-size:14px;
	font-family:'풕턼환쥌';
	border-radius: 6px;
	margin-left:8px;
}

.tijiao{
	margin-left:370px;
	margin-top:30px;
}

#oldtishikuang{
	display:none;
	float:left;
	margin-left:10px;
	color:#717171;
	font-size:12px;
	font-family:'풕턼환쥌';
	margin-top:8px;
}

#newtishikuang{
	display:none;
	float:left;
	margin-left:10px;
	color:#717171;
	font-size:12px;
	font-family:'풕턼환쥌';
	margin-top:8px;
}
.querenxinmima{
	display:block;
	float:left;
}


.xinmimaqueren{
clear:both;
width:650px;
height:30px;
margin-top:10px;	
}

#newpassword{
	display:block;
	font-size:14px;
	font-family:'풕턼환쥌';
	width: 100px;
    height: 30px;
    line-height: 30px;
    padding-top: 4px;
}

#xiugaimima{
	width:70px;
	height:30px;
	display:block;
	background-color:#628264;
	line-height:30px;
	text-align:center;
	color:white;
	font-family:'풕턼환쥌';
	font-size:14px;
	cursor:pointer;
	border-radius: 6px;
}
#xiugaimima:hover{
	width:70px;
	height:30px;
	display:block;
	background-color:#628264;
	line-height:30px;
	text-align:center;
	color:white;
	font-family:'풕턼환쥌';
	font-size:14px;
	cursor:pointer;
	border-radius: 6px;
	background-color:#537455;
}
.mima{
	display:block;
	float:left;
}
#tishinewPassword{
	display:block;
	margin-left:10px;
	color:#717171;
	font-size:13px;
	font-family:'풕턼환쥌';
	margin-top:8px;
}

#teacherid{
	display:none;
}
